{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Runze Tecnologia - Site em Produção</title>
    <link href="{% static 'producao/style.css' %}" rel="stylesheet"/>
</head>
<body>
	<div id="container">
		<div class="imagem">
			<img src="{% static 'producao/logo.png' %}" alt="" class="img-responsive z-depth-0">
		</div>
		<h1>Site em produção...</h1>
		<p>
			Rua Cel. Manoel Bandeira, 1227 - Centro <br \>
			Imperatriz-MA |	CEP 659000-010<br \>
		</p>
		<h3>contato@runze.com.br</h3>
		<h2>(99) 3523-2909</h2>
	</div>
</body>
    <script src="{% static 'producao/jquery.min.js' %}"></script>
</html>